@font-face {
  font-family: boo;
  src: url('./../ttf/STHEITI.ttf');
}

html,
body
{
    font-family: boo;
    position: fixed;
    top: 0;
    left: 0;

    overflow-y: scroll;

    width: 100%;
    height: 100%;
    margin: 0;

    user-select: none;

    color: var(--l0text);
    /* background-color: #fff; */
    background-color: var(--l0background);

    --sidewidth: 66px;
    --topheight: 66px;
}

#drag
{
  -webkit-app-region: drag;
  height: 20px;
  background-color: rgba(0, 0, 0, 0);
  position: fixed;
  /* position: sticky; */
  width: 100%;
  top: 0px;
  z-index: 10;
}

.pannel::-webkit-scrollbar,
.main::-webkit-scrollbar,
.page::-webkit-scrollbar,
body::-webkit-scrollbar,
html::-webkit-scrollbar
{
    display: none;
}

.page
{
    overflow-x: auto;
    height: 100%;
}

.side
{
    -webkit-app-region: drag;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;

    float: left;

    width: var(--sidewidth);
    height: 100%;
    padding-top: 20px;

    background-color: var(--l1background);
}

.side div img
{
    width: calc(100% - 2*20px);
    padding: 20px;

    filter: var(--l1tf);
}

.side div img:hover,
.side div.active img
{
    width: calc(100% - 2*20px);
    padding: 20px;

    cursor: pointer;

    filter: var(--hlgf);
}

.main
{
    overflow: visible;

    width: calc(100% - var(--sidewidth) - 2*20px);
    min-width: 550px;
    height: calc(100% - var(--topheight) - 3px);

    padding: 0px 20px 0px 20px;
    margin-top: var(--topheight);
    margin-left: var(--sidewidth);

}


div h1:hover,
.add:hover
{
    /* box-shadow: 1px 1px 5px 1px var(--l3text); */
}

.panel
{
    display: none;

    height: 100%;
    /* overflow: hidden; */
    overflow: visible;
    animation: fadeEffect 1s;
}

@keyframes fadeEffect
{
    from
    {
        opacity: 0;
    }
    to
    {
        opacity: 1;
    }
}


.titleBar {
  -webkit-app-region: drag;
  position: fixed;
  top: 0px;
  z-index: 2;
  background-color: var(--l0background);
  height: var(--topheight);
  width: calc(100% - 2*20px - var(--sidewidth));
  border-bottom: 3px solid var(--hlgrey);
}
